<VirtualHost *:80>
    ServerName  test-tradeenergy.basecamp.lab
    ServerAlias www.test-tradeenergy.basecamp.lab
    DocumentRoot /var/www/html/tradeenergy/
    TimeOut 900
    <Directory "/var/www/html/">
        DirectoryIndex index.html index.php
        AllowOverride All
        Allow from All
        Options FollowSymLinks
        Require all granted
    </Directory>
    LogLevel notice
    CustomLog "/var/log/httpd/test-tradeenergy.basecamp.lab.access.log" combined
    ErrorLog "/var/log/httpd/test-tradeenergy.basecamp.lab.error.log"
</VirtualHost>
