/var/www/html_front           *(rw,sync,no_root_squash,no_subtree_check)
/var/www/html_back           *(rw,sync,no_root_squash,no_subtree_check)
/var/www/configs           *(rw,sync,no_root_squash,no_subtree_check)