/mnt/exports/html_front           *(rw,sync,no_root_squash,no_subtree_check,fsid=101)
/mnt/exports/html_back           *(rw,sync,no_root_squash,no_subtree_check,fsid=100)
/mnt/exports/configs           *(rw,sync,no_root_squash,no_subtree_check,fsid=99)